[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "github_user_dossier"

[packages]
requests = "*"
pytest = "*"
pre-commit = "*"
black = "*"

[dev-packages]
mypy = "*"
safety = "*"
pre-commit = "*"
coverage = "*"
pylint = "*"
black = "*"
isort = "*"
flake8 = "*"
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.11"
